<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GhostPost</title>
  </head>

  <body>
    <h1>The GhostPost Machine</h1>
    <ul>
      {% for post in data %}
      <li>
        {{ post.text }}<br />
        {{ post }}<br />
        {{ post.up_vote }} <a href='/up_vote/{{ post.id }}/'>Click for UP VOTES</a><br />
        {{ post.down_vote }} <a href='/down_vote/{{ post.id }}/'>Click for DOWN VOTES</a><br />
        {{ post.date }}
      </li>
      {% endfor %}
    </ul>
  </body>

</html>