<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>GhostPost</title>
  </head>

  <body>
    <div class="container">
      {% block body_block %}
      <h1>The GhostPost Machine</h1>
      <ul>
        {% for post in data %}
        <li>
          {{ post.text }}<br />
          {{ post }}<br />
          {{ post.up_vote }} <a href='/up_vote/{{ post.id }}/'>Click for UP VOTES</a><br />
          {{ post.down_vote }} <a href='/down_vote/{{ post.id }}/'>Click for DOWN VOTES</a><br />
          {{ post.date }}
        </li>
        {% endfor %}
      </ul>
      {% endblock %}
    </div>
  </body>

</html>