<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>GhostPost</title>
  </head>

  <body>
    <div class="container">
      {% block body_block %}
      <h1 class='text-center mt-5'>The GhostPost Machine</h1>
      <div class="row justify-content-around text-center my-2">
        <a class="" href="addpost/"><button class='btn btn-info'>Add a post</button></a>
        <a class="disabled" aria-disabled="true">Disabled</a>
      </div>
      {% for post in data %}
      <div class="card w-75 mx-auto bg-light mb-3">
        <div class="card-body">
          <h5 class="card-header border-dark">{{ post }}</h5>
          <p class="card-text">{{ post.text }}</p>
          <p class='text-right'>
            <a href='/up_vote/{{ post.id }}/'>
              <button type="button" class="btn btn-outline-primary btn-sm">
                Up vote(s) <span class="badge badge-light">{{ post.up_vote }}</span>
              </button>
            </a>
            <a href='/down_vote/{{ post.id }}/'>
              <button type="button" class="btn btn-outline-danger btn-sm">
                Down vote(s) <span class="badge badge-light">{{ post.down_vote }}</span>
              </button>
            </a>
          </p>
          <div class='card-footer text-muted'>{{ post.date }}</div>
        </div>
      </div>
      {% endfor %}
      {% endblock %}
    </div>
  </body>

</html>