<!DOCTYPE html>
{% extends 'index.html' %}
{% block body_block %}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'homepage' %}">Home</a>
  {% if form %}
  <form action="" method='POST'>
    {% csrf_token %}
    <span class='text-light'>{{form.secret_key.label}}: </span>
    {{form.secret_key}}
  </form>
  {% else %}
  <button type="button" class="btn btn-danger">Delete Post</button>
  {% endif %}
</nav>
<div class="jumbotron">
  <div class="container">
    <h1>{{data}}</h1>
    <p>{{data.text}}</p>
    <p>{{data.date}}</p>
    <p class='text-right'>
      <a href="{% url 'up_vote' data.id %}">
        <button type="button" class="btn btn-outline-primary btn-sm">
          Up vote(s) <span class="badge badge-light">{{ data.up_vote }}</span>
        </button>
      </a>
      <a href="{% url 'down_vote' data.id %}">
        <button type="button" class="btn btn-outline-danger btn-sm">
          Down vote(s) <span class="badge badge-light">{{ data.down_vote }}</span>
        </button>
      </a>
    </p>
  </div>
</div>
{% endblock %}